<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="index.js" defer></script>
</head>
<body>
<input type="text" id="userInput" placeholder="Enter your name">
<input type="text" id="messageInput" placeholder="Enter a message">
<button id="sendButton">Send</button>

<div id="messages"></div>


</body>
</html>